.home-container {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 20px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px 40px 10px;
  background-color: #ededed;
  border-radius: 10px;
  margin-top: 20px;
}

.home-content-container p {
  width: 260px;
  color: #585858;
  font-size: 0.8em;
  margin-top: 10px;
}

.home-image-container {
  padding: 50px 15px;
  background-color: #00285f;
  border-radius: 10px;
  color: #fff;
}

.home-image-container h1 {
  font-size: 18px;
}

.home-image-container p {
  font-size: 15px;
  margin-top: 15px;
}

.home-image-container svg {
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .home-image-container {
    padding: 50px 50px;
  }

  .home-image-container h1 {
    font-size: 30px;
  }
  
  .home-image-container p {
    font-size: 18px;
    margin-top: 0px;
  }
  
  .home-image-container svg {
    width: 80%;
    height: auto;
  }

  .home-content-container {
    flex-direction: row;
    padding: 30px 70px;
  }

  .home-content-container p {
    width: 230px;
    font-size: 0.8em;
  }
}
