.main-nav {
    background-color: #F78B00;
    padding-left: 20px;
    min-height: 50px;
}

.nav-logo-text {
  color: #00285F;
}

.nav-logo-text:hover {
    color: #00285F;
}

.navbar-expand-md .navbar-collapse {
    justify-content: right;
    padding-right: 20px;
}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 380px;
}

.main-menu a {
    color: #00285F;
}

.main-menu a:hover {
    color: blue;
}

.main-menu a.active {
    color: #00285F;
    font-weight: 800;
}

@media (min-width: 768px) {
    .main-menu {
        justify-content: right;
        text-align: right;
    }
    
    .main-menu li{
        margin-left: 25px;
    }
}